#buttonu3594.ButtonSelected #u3595-7 p,#buttonu3594.ButtonSelected #u3595-7 span
{
	font-family: open-sans-n4, sans-serif;
}

#u3583-3
{
	font-family: open-sans-n7, sans-serif;
}

#u1832-9,#u1832-15,#u1832-18,#u1832-21
{
	font-family: source-sans-pro-n4, sans-serif;
}

